* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

::-moz-selection {
  color: #000;
  background-color: #C0E1CF;
}

::selection {
  color: #000;
  background-color: #C0E1CF;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
nav > ul {
  display: flex;
  height: 100%;
  line-height: 100px;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
}
nav > ul > li {
  position: relative;
  height: 100%;
  padding: 0 30px;
  text-transform: uppercase;
  cursor: pointer;
}
nav > ul > li > a {
  color: #000;
  text-decoration: none;
}
nav > ul > li > a::after {
  content: "";
  width: calc(100% - 50px);
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scaleX(0) translate(-50%, 0);
  transform-origin: left;
  background-color: #D8F0E3;
  z-index: -1;
}
nav > ul > li:hover a::after {
  transform: scaleX(1) translate(-50%, 0);
  transform-origin: left;
  transition: all 0.1s linear;
}
nav > ul > li .dropdown {
  position: absolute;
  top: 100%;
  left: -10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px 60px 20px 20px;
  background-color: #FAF7F1;
  z-index: 1;
}
nav > ul > li .dropdown ul {
  flex-direction: column;
}
nav > ul > li .dropdown ul li {
  padding: 0;
  line-height: 2.5;
  text-transform: initial;
}
nav > ul > li .dropdown ul li a {
  position: relative;
  color: #A6A6A6;
  text-decoration: none;
}
nav > ul > li .dropdown ul li a::after {
  content: "";
  width: 110%;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scaleX(0) translate(-50%, 0);
  transform-origin: left;
  background-color: #D8F0E3;
  z-index: -1;
}
nav > ul > li .dropdown ul li:hover a::after {
  transform: scaleX(1) translate(-50%, 0);
  transform-origin: left;
  transition: all 0.1s linear;
}
nav > ul > li img {
  vertical-align: sub;
}
nav > ul > li:last-child {
  padding: 0 0 0 15px;
}
nav > ul > li .active::after {
  content: "";
  width: calc(100% - 50px);
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #F3D0C7;
  z-index: -1;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 630px;
  padding: 100px 0;
}
.jumbotron .slider .image1 {
  position: relative;
}
.jumbotron .slider .image1 .text {
  width: 45%;
}
.jumbotron .slider .image1 .text h2 {
  font-size: 80px;
  font-weight: 500;
}
.jumbotron .slider .image1 .text h2 span {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
  font-size: 90px;
}
.jumbotron .slider .image1 .text p {
  font-size: 20px;
  line-height: 1.5;
  color: #A6A6A6;
  margin-bottom: 50px;
}
.jumbotron .slider .image1 .text a {
  display: inline-block;
  padding: 20px 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: 3px solid #E1C0B0;
}
.jumbotron .slider .image1 .text a:hover {
  color: #fff;
  background-color: #E1C0B0;
  transition: all 0.2s linear;
}
.jumbotron .slider .image1 .illustration {
  position: absolute;
  bottom: -50px;
  right: 100px;
  z-index: -1;
}
.jumbotron .slider .image1 .illustration #slider2 {
  position: absolute;
  right: 700px;
  bottom: 420px;
}
.jumbotron .slider .image1 .illustration #slider6 {
  position: absolute;
  right: 100px;
  bottom: 300px;
}
.jumbotron .slider .image1 .illustration #slider12 {
  position: absolute;
  right: 830px;
  bottom: 200px;
}
.jumbotron .slider .image1 .illustration #slider13 {
  position: absolute;
  right: 780px;
  bottom: 0;
}
.jumbotron .slider .image1 .illustration #slider14 {
  position: absolute;
  right: 150px;
  bottom: 450px;
}
.jumbotron .slider .image1 .illustration #slider15 {
  position: absolute;
  right: 400px;
  bottom: 0;
}
.jumbotron .slider .image1 .illustration #slider16 {
  position: absolute;
  right: 100px;
  bottom: 0;
}
.jumbotron .slider .image1 .illustration #slider17 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.jumbotron .prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: #F3D0C7;
  z-index: 2;
  left: 40px;
}
.jumbotron .prev:hover {
  cursor: pointer;
  background-color: #E1C0B0;
}
.jumbotron .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  background-color: #F3D0C7;
  z-index: 2;
  right: 40px;
}
.jumbotron .next:hover {
  cursor: pointer;
  background-color: #E1C0B0;
}
.jumbotron .dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.jumbotron .dots i {
  margin: 0 10px;
  font-size: 10px;
  color: #F3D0C7;
}

@media screen and (max-width: 1200px) {
  .jumbotron .slider .image1 .illustration {
    right: 0;
    transform: scale(0.8);
  }
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gallery .card {
  position: relative;
  width: calc(100% / 3);
  cursor: pointer;
}
.gallery .card img {
  display: block;
  width: 100%;
}
.gallery .card .overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 30px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
}
.gallery .card .overlay h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.gallery .card .overlay h3 {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 500;
}
.gallery .card:hover .overlay {
  transform: scaleX(1);
  transform-origin: left;
  transition: all 0.2s linear;
  opacity: 1;
}

.process {
  width: 100%;
  padding: 120px 0;
}
.process h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 65px;
  font-weight: 500;
}
.process h2 span {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
}
.process .wrapper {
  display: flex;
  background-image: url("../svg/svg-3.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
}
.process .wrapper .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 4);
  padding: 0 20px;
}
.process .wrapper .item .icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  background-color: #faf7f1;
  border-radius: 100%;
}
.process .wrapper .item .icon-bg i {
  font-size: 50px;
}
.process .wrapper .item h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}
.process .wrapper .item p {
  color: #A6A6A6;
  line-height: 1.5;
}
.process .wrapper .item:nth-child(1) i {
  color: #badac9;
}
.process .wrapper .item:nth-child(2) i {
  color: #f8d12d;
}
.process .wrapper .item:nth-child(3) i {
  color: #80465f;
}
.process .wrapper .item:nth-child(4) i {
  color: #eb6950;
}

.contact {
  width: 100%;
  padding: 150px 0;
  text-align: center;
  background-image: url("../img/h-2-background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 30px;
}
.contact h2 span {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
}
.contact p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  color: #A6A6A6;
}
.contact .btn {
  display: inline-block;
  padding: 20px 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #D8F0E3;
}
.contact .btn:hover {
  color: #fff;
  background-color: #E1C0B0;
  transition: all 0.2s linear;
}

.blog {
  width: 100%;
  padding: 150px 0;
}
.blog .wrapper {
  display: flex;
  justify-content: space-between;
}
.blog .wrapper .article {
  position: relative;
  width: calc((100% / 3) - 15px);
}
.blog .wrapper .article .date {
  position: absolute;
  top: -20px;
  left: 20px;
  text-align: center;
  z-index: 2;
}
.blog .wrapper .article .date .date-top {
  width: 70px;
  height: 50px;
  line-height: 60px;
  background-color: #C0E1CF;
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: 700;
}
.blog .wrapper .article .date .date-bottom {
  width: 70px;
  height: 40px;
  line-height: 30px;
  background-color: #F3D0C7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.1px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
}
.blog .wrapper .article .picture {
  overflow: hidden;
}
.blog .wrapper .article .picture img {
  display: block;
  width: 100%;
}
.blog .wrapper .article .picture img:hover {
  transform: scale(1.05);
  transition: all 2s ease-out;
}
.blog .wrapper .article h2 {
  margin: 20px 0 10px 0;
  font-size: 26px;
  font-weight: 500;
}
.blog .wrapper .article span {
  font-size: 15px;
  font-style: italic;
  font-family: "Crimson Text", serif;
}

footer {
  padding: 80px 0;
  background-color: #C0E1CF;
}
footer .wrapper {
  display: flex;
}
footer .wrapper .column {
  width: calc(100% / 4);
}
footer .wrapper .column *:first-child {
  margin-bottom: 15px;
}
footer .wrapper .column:nth-child(1) img {
  display: block;
}
footer .wrapper .column:nth-child(2) a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
footer .wrapper .column:nth-child(4) ul {
  display: flex;
}
footer .wrapper .column:nth-child(4) ul li {
  margin-right: 30px;
}
footer .wrapper .column:nth-child(4) ul li a {
  text-decoration: none;
  color: #000;
}
footer .wrapper .column:nth-child(4) ul li a i {
  font-size: 16px;
}
footer .wrapper .column:nth-child(4) ul li a:hover {
  color: #fff;
}

#qode {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  top: 150px;
  color: #fff;
  background-color: #ef2853;
}
#qode svg {
  height: 70%;
}
#qode:hover {
  background-color: #d4103a;
}

#cart {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  top: 200px;
  fill: #ef2853;
  background-color: #fff;
}
#cart svg {
  height: 50%;
}
#cart:hover {
  background-color: #f2f2f2;
}

#to-top {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  bottom: 20px;
  right: 20px;
  color: #fff;
  background-color: #C0E1CF;
}
#to-top i {
  font-size: 20px;
}
#to-top:hover {
  background-color: #9dd1b5;
}
