* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
nav ul {
  display: flex;
  height: 100%;
  line-height: 100px;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
}
nav ul li {
  position: relative;
  height: 100%;
  padding: 0 30px;
  text-transform: uppercase;
}
nav ul li a {
  color: #000;
  text-decoration: none;
}
nav ul li img {
  vertical-align: sub;
}
nav ul li:last-child {
  padding: 0 0 0 15px;
}
nav ul li .active::after {
  content: "";
  width: calc(100% - 50px);
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #F3D0C7;
  z-index: -1;
}

.jumbotron {
  width: 100%;
  height: 630px;
  background-color: #ccc;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gallery .card {
  position: relative;
  width: calc(100% / 3);
  cursor: pointer;
}
.gallery .card img {
  display: block;
  width: 100%;
}
.gallery .card .overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 30px;
  background-color: #fff;
}
.gallery .card .overlay h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.gallery .card .overlay h3 {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: 500;
}
.gallery .card:hover .overlay {
  display: block;
}

.process {
  width: 100%;
  padding: 120px 0;
}
.process h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 65px;
  font-weight: 500;
}
.process h2 span {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
}
.process .wrapper {
  display: flex;
  background-image: url("../svg/svg-3.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
}
.process .wrapper .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 4);
  padding: 0 20px;
}
.process .wrapper .item .icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  background-color: #faf7f1;
  border-radius: 100%;
}
.process .wrapper .item .icon-bg i {
  font-size: 50px;
}
.process .wrapper .item h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}
.process .wrapper .item p {
  color: #A6A6A6;
  line-height: 1.5;
}
.process .wrapper .item:nth-child(1) i {
  color: #badac9;
}
.process .wrapper .item:nth-child(2) i {
  color: #f8d12d;
}
.process .wrapper .item:nth-child(3) i {
  color: #80465f;
}
.process .wrapper .item:nth-child(4) i {
  color: #eb6950;
}

.contact {
  width: 100%;
  padding: 150px 0;
  text-align: center;
  background-image: url("../img/h-2-background-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 65px;
  font-weight: 500;
  margin-bottom: 30px;
}
.contact h2 span {
  font-family: "Crimson Text", serif;
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
}
.contact p {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
  color: #A6A6A6;
}
.contact .btn {
  display: inline-block;
  padding: 20px 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background-color: #D8F0E3;
}
.contact .btn:hover {
  color: #fff;
  background-color: #E1C0B0;
}

.blog {
  width: 100%;
  padding: 150px 0;
}
.blog .wrapper {
  display: flex;
  justify-content: space-between;
}
.blog .wrapper .article {
  position: relative;
  width: calc((100% / 3) - 15px);
}
.blog .wrapper .article .date {
  position: absolute;
  top: -20px;
  left: 20px;
  text-align: center;
}
.blog .wrapper .article .date .date-top {
  width: 70px;
  height: 50px;
  line-height: 60px;
  background-color: #C0E1CF;
  font-family: "Crimson Text", serif;
  font-size: 40px;
  font-weight: 700;
}
.blog .wrapper .article .date .date-bottom {
  width: 70px;
  height: 40px;
  line-height: 30px;
  background-color: #F3D0C7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.1px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
}
.blog .wrapper .article img {
  display: block;
  width: 100%;
}
.blog .wrapper .article h2 {
  margin: 20px 0 10px 0;
  font-size: 26px;
  font-weight: 500;
}
.blog .wrapper .article span {
  font-size: 15px;
  font-style: italic;
  font-family: "Crimson Text", serif;
}
