* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: $Lato;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.margin-top {
    margin-top: 15px;
}