.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .card {
        position: relative;
        width: calc(100% / 3);
        cursor: pointer;
        img {
            display: block;
            width: 100%;
        }
        .overlay {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            padding: 30px;
            background-color: #fff;
            transform: scaleX(0);
            transform-origin: left;
            opacity: 0;
            h2 {
                font-weight: 500;
                margin-bottom: 10px;
            }
            h3 {
                font-family: $Crimsom;
                font-style: italic;
                font-weight: 500;
            }
        }
        &:hover .overlay {
            transform: scaleX(1);
            transform-origin: left;
            transition: all .2s linear;
            opacity: 1;
        }
    }
}