nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    > ul {
        display: flex;
        height: 100%;
        line-height: 100px;
        list-style: none;
        font-size: 15px;
        font-weight: 700;
        > li {
            position: relative;
            height: 100%;
            padding: 0 30px;
            text-transform: uppercase;
            cursor: pointer;
            > a {
                color: #000;
                text-decoration: none;
                &::after {
                    @include navActiveElement;
                    transform: scaleX(0) translate(-50%, 0);
                    transform-origin: left;
                    background-color: $btnColor;
                }
            }
            &:hover a::after{
                transform: scaleX(1) translate(-50%, 0);
                transform-origin: left;
                transition: all .1s linear;
            }
            .dropdown {
                position: absolute;
                top: 100%;
                left: -10px;
                width: max-content;
                padding: 20px 60px 20px 20px;
                background-color: $dropdownBg;
                z-index: 1;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                ul {
                    flex-direction: column;
                    li {
                        padding: 0;
                        line-height: 2.5;
                        text-transform: initial;
                        a {
                            position: relative;
                            color: $greyText;
                            text-decoration: none;
                            &::after {
                                content: "";
                                width: 110%;
                                height: 7px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: scaleX(0) translate(-50%, 0);
                                transform-origin: left;
                                background-color: $btnColor;
                                z-index: -1;
                            }
                        }
                        &:hover a::after{
                            transform: scaleX(1) translate(-50%, 0);
                            transform-origin: left;
                            transition: all .1s linear;
                        }
                    }
                }
            }
            .drop {
                visibility: visible;
                transform: scaleY(1);
                transform-origin: top;
                transition: all .15s linear;
            }
            img {
                vertical-align: sub;
            }
            &:last-child {
                padding: 0 0 0 15px;
            }
            .active::after {
                @include navActiveElement;
                transform: translate(-50%, 0);
                background-color: $navActive;
            }
        }      
    }
}