@mixin navActiveElement {
    content: "";
    width: calc(100% - 50px);
    height: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

@mixin item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 4);
    padding: 0 20px;
}

@mixin iconBg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    background-color: $itemBg;
    border-radius: 100%;
    i {
        font-size: 50px;
    }
}

@mixin title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 65px;
    font-weight: 500;
}

@mixin titleItalic {
    font-family: $Crimsom;
    font-size: 70px;
    font-style: italic;
    font-weight: 700;
}

@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin chevron {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    background-color: $navActive;
    z-index: 2;
    &:hover {
        cursor: pointer;
        background-color: $btnHover;
    }
}

@mixin widget {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}