.process {
    width: 100%;
    padding: 120px 0;
    h2 {
        @include title;
        span {
            @include titleItalic;
        }
    }
    .wrapper {
        display: flex;
        background-image: url("../svg/svg-3.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 80%;
        .item {
            @include item;
            .icon-bg {
                @include iconBg;
            }
            h3 {
                margin: 20px 0 10px 0;
                font-size: 20px;
                font-weight: 500;
            }
            p {
                color: $greyText;
                line-height: 1.5;
            }
            &:nth-child(1) i {
                color: $item1;
            }
            &:nth-child(2) i {
                color: $item2;
            }
            &:nth-child(3) i {
                color: $item3;
            }
            &:nth-child(4) i {
                color: $item4;
            }
        }
    }
}