// fonts
$Lato: 'Lato', sans-serif;
$Crimsom: 'Crimson Text', serif;

// colors
$navActive: #F3D0C7;
$itemBg: #faf7f1;

// icon colors
$item1: #badac9;
$item2: #f8d12d;
$item3: #80465f;
$item4: #eb6950;
