// fonts
$Lato: 'Lato', sans-serif;
$Crimsom: 'Crimson Text', serif;

// colors
$navActive: #F3D0C7;
$itemBg: #faf7f1;
$greyText: #A6A6A6;
$btnColor: #D8F0E3;
$btnHover: #E1C0B0;
$mainColor: #C0E1CF;
$dropdownBg: #FAF7F1;

// icon colors
$item1: #badac9;
$item2: #f8d12d;
$item3: #80465f;
$item4: #eb6950;
$widget: #ef2853;
