#qode {
    @include widget;
    top: 150px;
    color: #fff;
    background-color: $widget;
    svg {
        height: 70%;
    }
    &:hover {
        background-color: darken($widget, 10%);
    }
}

#cart {
    @include widget;
    top: 200px;
    fill: $widget;
    background-color: #fff;
    svg {
        height: 50%;
    }
    &:hover {
        background-color: darken(#fff, 5%);
    }
}

#to-top {
    @include widget;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background-color: $mainColor;
    i {
        font-size: 20px;
    }
    &:hover {
        background-color: darken($mainColor, 10%);
    }
}